<% @title = "Edit #{resource_name.to_s.humanize}" %>

<div id="main" class="devise-1">
  <div class="container-fluid">
    <div class="row">
      <header class="text-center">
        <h1><%=app_name%></h1>
        <p class="p-0 m-0 text-uppercase">My Account Details</p>
      </header>
    </div>

    <div class="row m-5">
      <div class="col-12 col-md-8 mr-auto ml-auto">
        <div class="card">
          <div class="card-header">
            <h6>API</h6>
          </div>
          <div class="card-body">
            <p>Keep you API key safe and secret! Don't store it in a repository, set it as an environment variable. If you feel like it has been stolen, just renew it and update the environment variable.</p>
            <table class="table">
              <tr>
                <td><strong>Current plan</strong></td>
                <td><%= resource.plan.titleize %>: <%= current_user.plan_limit == 0 ? "unlimited" : current_user.plan_limit %> API calls per month</td>
                <td><%= link_to "Change plan", pricing_path, class: "btn btn-primary btn-registrations pull-right" %></td>
              </tr>
              <tr>
                <td><strong>Secret API Key</strong></td>
                <td><%= resource.api_key %></td>
                <td><%= link_to "Renew API key", renew_api_key_path, data: { confirm: "Really?" }, class: "btn btn-primary btn-registrations  pull-right" %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-5">
      <div class="col-12 col-md-8 mr-auto ml-auto">
        <div class="card">
          <div class="card-header">
            <h6>Usage</h6>
          </div>
          <div class="card-body">
            <p>Here is your historial usage.</p>
            <table class="table">
              <% current_user.usages.each do |usage| %>
                <tr>
                  <td><strong><%= usage.year %>/<%= usage.month.to_s.rjust(2,"0") %></strong></td>
                  <td><%= usage.count %> API calls / <%= usage.limit %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-5">
      <div class="col-12 col-md-8 mr-auto ml-auto">
        <div class="card">
          <div class="card-header">
            <h6>Account</h6>
          </div>
          <div class="card-body">
            <div class="container">
              <%= form_for resource, as: resource_name, url: registration_path(resource_name),
                html: { method: :put, novalidate: true, class: "form-horizontal" } do |f| %>

                <%= f.error_notification %>

                <%= f.form_group :email, class:"row" do |f| %>
                  <%= f.label :email, class: "col-sm-4 col-form-label" %>
                  <div class="col-md-8">
                    <%= f.email_field :email, required: true, class: "form-control" %>
                    <%= f.error_messages %>
                  </div>
                <% end %>

                <%= f.form_group :password, class: "row" do |f| %>
                  <%= f.label :password, class: "col-sm-4 col-form-label" %>
                  <div class="col-md-8">
                    <%= f.password_field :password, class: "form-control" %>
                    <%= f.error_messages %>
                    <div class="help-block">
                      Leave it blank if you don"t want to change it.
                    </div>
                  </div>
                <% end %>

                <%= f.form_group :password_confirmation, class: "row" do |f| %>
                  <%= f.label :password_confirmation, class: "col-sm-4 col-form-label" %>
                  <div class="col-md-8">
                    <%= f.password_field :password_confirmation, class: "form-control" %>
                    <%= f.error_messages %>
                  </div>
                <% end %>

                <%= f.form_group :current_password, class: "row" do |f| %>
                  <%= f.label :current_password, class: "col-sm-4 col-form-label" %>
                  <div class="col-md-8">
                    <%= f.password_field :current_password, class: "form-control" %>
                    <%= f.error_messages %>
                    <div class="help-block">
                      We need your current password to confirm your changes.
                    </div>
                  </div>
                <% end %>

                <div class="row d-flex align-items-center mt-5">
                  <%= mail_to "sebastien@companydata.co", "Cancel my account", class: "mr-auto text-danger", subject: "Cancel my account" %>
                  <div>
                    <%= link_to "Back", :back, class: "btn btn-outline-defualt" %>
                    <%= f.submit "Update", class: "btn btn-primary btn-registrations" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
