<% @title = "Pricing" %>

<%= content_for :js_libs, "modernizr" %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="container py-5">
        <div class="row">
          <div class="col-12">
            <h2 class="pt-5 text-center header-separator"><%= t("pricing.show.title") %></h2>
            <p class="lead text-center"><%= t("pricing.show.description_1") %></p>
            <p class="lead text-center"><%= t("pricing.show.description_2") %></p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 col-md-3">
            <div class="pricing-table-2">
              <header class="bg-dark">
                <h1 class="text-white m-0">0 €</h2>
                <p class="text-muted text-uppercase mb-0"><%= t("pricing.show.plans.free.period") %></p>
              </header>
              <h5 class="bg-gray-900 text-center p-3 text-white m-0"><%= t("pricing.show.plans.free.name") %></h5>
              <ul class="tiere-feature-list">
                <li><%= t("pricing.show.plans.calls_count", count: number_with_delimiter(User::PLANS[:free])) %></li>
                <li><small><%= t("pricing.show.plans.free.description") %></small></li>
              </ul>
              <div class="bg-dark d-flex align-items-center justify-content-center p-3">
                <%= render "choose", plan: :free %>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="pricing-table-2">
              <header class="bg-dark">
                <h1 class="text-white m-0">9 €</h2>
                <p class="text-muted text-uppercase mb-0"><%= t("pricing.show.plans.period") %></p>
              </header>
              <h5 class="bg-gray-900 text-center p-3 text-white m-0"><%= t("pricing.show.plans.normal.name") %></h5>
              <ul class="tiere-feature-list">
                <li><%= t("pricing.show.plans.calls_count", count: number_with_delimiter(User::PLANS[:normal])) %></li>
                <li><small><%= t("pricing.show.plans.normal.description") %></small></li>
              </ul>
              <div class="bg-dark d-flex align-items-center justify-content-center p-3">
                <%= render "choose", plan: :normal %>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="pricing-table-2">
              <header class="bg-dark">
                <h1 class="text-white m-0">29 €</h2>
                <p class="text-muted text-uppercase mb-0"><%= t("pricing.show.plans.period") %></p>
              </header>
              <h5 class="bg-gray-900 text-center p-3 text-white m-0"><%= t("pricing.show.plans.huge.name") %></h5>
              <ul class="tiere-feature-list">
                <li><%= t("pricing.show.plans.calls_count", count: number_with_delimiter(User::PLANS[:huge])) %></li>
                <li><small><%= t("pricing.show.plans.huge.description") %></small></li>
              </ul>
              <div class="bg-dark d-flex align-items-center justify-content-center p-3">
                <%= render "choose", plan: :huge %>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="pricing-table-2">
              <header class="bg-dark">
                <h1 class="text-white m-0">99 €</h2>
                <p class="text-muted text-uppercase mb-0"><%= t("pricing.show.plans.period") %></p>
              </header>
              <h5 class="bg-gray-900 text-center p-3 text-white m-0"><%= t("pricing.show.plans.unlimited.name") %></h5>
              <ul class="tiere-feature-list">
                <li><%= t("pricing.show.plans.unlimited.calls_count") %></li>
                <li><small><%= raw t("pricing.show.plans.unlimited.description") %></small></li>
              </ul>
              <div class="bg-dark d-flex align-items-center justify-content-center p-3">
                <%= render "choose", plan: :unlimited %>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <p class="lead text-center"><%= t("pricing.show.description_3") %></p>
            <p class="lead text-center"><%= t("pricing.show.description_4") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

