<div class="container">
  <div class="row no-gutters equal-cols align-items-center">
    <div class="col-12">
      <h2 class="leading-normal"><%= t("landing.data.title") %></h2>
      <p class="lead"><%= t("landing.data.description") %></p>
      <div class="row no-gutters mt-5">
        <div class="col-12 col-md-5">
          <div class="card card-mini">
            <div class="card-body">
              <div class="media">
                <div class="d-flex align-self-center mr-3">
                  <span>
                    <i class="ti-world display-4"></i>
                  </span>
                </div>
                <div class="media-body text-right">
                  <h4 class="m-0"><%= number_to_human 10872416 %></h4>
                  <h6 class="m-0 text-muted"><%= t("landing.data.companies") %></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5 ml-md-auto">
          <div class="card card-mini">
              <div class="card-body">
                <div class="media">
                  <div class="d-flex align-self-center mr-3">
                    <span>
                      <i class="ti-money display-4"></i>
                    </span>
                  </div>
                  <div class="media-body text-right">
                    <h4 class="m-0"><%= number_to_human 4200912 %></h4>
                    <h6 class="m-0 text-muted"><%= t("landing.data.financial_years") %></h6>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>