<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mr-md-auto ml-md-auto text-center">
      <h3><%= t("landing.data.title") %></h3>
      <p class="lead"><%= t("landing.data.subtitle") %></p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-10 ml-md-auto mr-md-auto">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <i class="d-flex mr-3 ion-easel h2"></i>
              <div class="media-body">
                <h6 class="mt-0"><%= t("landing.data.title_1") %></h6>
                <p><%= t("landing.data.description_1") %></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <i class="d-flex mr-3 ion-ios-box h2"></i>
              <div class="media-body">
                <h6 class="mt-0"><%= t("landing.data.title_2") %></h6>
                <p><%= t("landing.data.description_2") %></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <i class="d-flex mr-3 ion-map h2"></i>
              <div class="media-body">
                <h6 class="mt-0"><%= t("landing.data.title_3") %></h6>
                <p><%= t("landing.data.description_3") %></p>
              </div>
            </div>
          </div>            
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <i class="d-flex mr-3 ion-ios-calculator h2"></i>
              <div class="media-body">
                <h6 class="mt-0"><%= t("landing.data.title_4") %></h6>
                <p><%= t("landing.data.description_4") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 mr-md-auto ml-md-auto text-center">
      <p>
        <%= t("landing.data.more_info") %>&nbsp;<%= link_to t("landing.data.docs"), docs_url("/#fullcompany") %>.
      </p>
    </div>
  </div>
</div>