<div>
  <div class="row no-gutters equal-cols align-items-center">
    <div class="col-12 col-md-5 mx-md-auto">
      <h2 class="leading-normal"><%= t("landing.example.title") %></h2>
      <p class="lead"><%= t("landing.example.description") %></p>
      <img src="<%= image_path('example_request.png') %>" class="mb-3 mb-md-0"  >
      <%= link_to t("landing.example.action"), "#", class:"d-table btn btn-success btn-large text-uppercase" %>
    </div>
    <div class="col-12 col-md-5">
      <img src="<%= image_path('example_result.png') %>" class="mb-3 mb-md-0" >
    </div>
  </div>
</div>