<main class="landing-4 value-proposition-wrapper">
  <div class="value-proposition">
    <div class="container">
      <div class="row pb-5">
        <div class="col-12 col-md-6 text-white mt-5 pt-5 pb-5">
          <h1 class="text-shadow-light leading-normal"><%= t("landing.show.value_proposition") %></h1>
          <p class="lead font-weight-medium text-shadow-light"><%= raw t("landing.show.sub_value_proposition") %></p>
        </div>
        <div class="col-12 col-md-6 mt-5 pt-5 pb-5">
          <%= image_tag image_path("demo.gif") %>
        </div>
      </div>
    </div>
  </div>
</main>

<section class="mt-5 pt-5 mb-5 pb-5">
  <%= render partial: 'landing/features' %>
</section>

<section class="py-5 bg-dark" id="try">
  <%= render "landing/try" %>
</section>

<section class="mt-5 pt-5 mb-5 pb-5" id="data">
  <%= render partial: 'landing/data' %>
</section>

<section class="mt-5 pt-5 mb-5 pb-5 bg-primary">
  <%= render partial: 'landing/metrics' %>
</section>

<section>
  <%= render partial: 'landing/example' %>
</section>

<script type="text/javascript">
  mixpanel.track("Visit landing");
</script>
