<main class="landing-4">
  <div class="value-proposition">
    <div class="container">
      <div class="row pb-5">
        <div class="col-12 col-md-7 text-white mt-5 pt-5 pb-5">
          <h1 class="text-shadow-light leading-normal"><%= t("landing.show.value_proposition") %></h1>
          <p class="lead font-weight-medium text-shadow-light"><%= t("landing.show.sub_value_proposition") %></p>
        </div>
        <div class="col-12 col-md-5 mt-5 pt-5 pb-5">
          <%= form_for Search.new(user: current_user), url: searches_path, html: { novalidate: true, class: "form d-flex flex-column bg-white p-4" } do |f| %>
            <p class="text-center"><%= t("landing.show.try_title") %></p>
            <%= f.text_field :query, required: true, autofocus: true, class: "form-control", placeholder: t("landing.show.company_name"), id: "js-search-autocomplete" %>
            <%= f.submit t("landing.show.search"), class: "btn btn-primary ml-auto mt-2", id: "js-landing-search" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>

<section class="mt-5 pt-5 mb-5 pb-5">
  <%= render partial: 'landing/features' %>
</section>

<section class="mt-5 pt-5 mb-5 pb-5 bg-primary text-white">
  <%= render partial: 'landing/example' %>
</section>

<section class="mt-5 pt-5 mb-5 pb-5">
  <%= render partial: 'landing/data' %>
</section>

