<div class="container">
  <div class="row no-gutter bg-dark p-5">
    <div class="col-12">
      <div class="d-flex flex-row flex-wrap align-items-center justify-content-between">
        <div class="d-flex flex-row flex-wrap align-items-center justify-content-start">
          <img src="<%= image_path('logo-small.png') %>" class="mr-3" width="32" height="32" >
          <h6 class="text-white m-0 mr-4"><%= app_name %></h6>
          <ul class="list-inline m-0">
            <li class="list-inline-item">
              <%= link_to t("navigation.pricing"), page_path('pricing') %>
            </li>
            <li class="list-inline-item">
              <%= link_to t("navigation.get_started"), page_path('getting_started') %>
            </li>
            <li class="list-inline-item">
              <%= link_to t("navigation.docs"), docs_url, target: "_blank" %>
            </li>
            <li class="list-inline-item">
              <%= link_to t("navigation.resources"), page_path('resources'), target: "_blank" %>
            </li>
            <li class="list-inline-item">
              <%= mail_to contact_email, t("navigation.contact") %>
            </li>
            <li class="list-inline-item">
              <%= link_to t("navigation.about"), page_path('about') %>
            </li>
            <li class="list-inline-item">
              <%= link_to t("navigation.legal"), page_path('legal') %>
            </li>
          </ul>
        </div>
        <p class="small text-muted m-0">JustDo &copy; <%= Date.today.year %></p>
      </div>
    </div>
  </div>
</div>
