<nav class="navbar navbar-expand-lg my-0">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag  image_path("logo-small.png"), width: 32, height: 32, class: "mr-2" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#standardNavbar" aria-controls="standardNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="standardNavbar">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <% if I18n.locale == :fr %>
          <%= link_to url_for(locale: 'en'), class: "nav-link" do %>
            <%= image_tag "flag_en.png", class: 'image--xxs' %> &nbsp; EN
          <% end %>
        <% else %>
          <%= link_to url_for(locale: 'fr'), class: "nav-link" do %>
            <%= image_tag "flag_fr.png", class: 'image--xxs' %> &nbsp; FR
          <% end %>
        <% end %>
      </li>
      <li class="nav-item ">
        <%= link_to t("navigation.home"), root_path, class: "nav-link" %>
      </li>
      <li class="nav-item ">
        <%= link_to t("navigation.pricing"), page_path('pricing'), class: "nav-link", id: "nav-pricing" %>
      </li>
      <li class="nav-item ">
        <%= link_to t("navigation.get_started"), page_path('getting_started'), class: "nav-link", target: "_blank", id: "nav-docs" %>
      </li>
      <li class="nav-item ">
        <%= link_to t("navigation.docs"), docs_url, class: "nav-link", target: "_blank", id: "nav-docs" %>
      </li>
      <li class="nav-item ">
        <%= mail_to contact_email, t("navigation.contact"), class: "nav-link" %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to t("navigation.my_account"), edit_user_registration_path, class: "btn btn-sm btn-primary text-white text-uppercase" %>
        </li>
        <li class="nav-item">
            <%= link_to t("navigation.sign_out"), destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-primary text-uppercase" %>
          </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t("navigation.sign_in"), new_user_session_path, class: "btn btn-sm btn-primary text-white text-uppercase" %>
        </li>
        <li class="nav-item">
          <%= link_to t("navigation.sign_up"), new_user_registration_path, class: "btn btn-sm btn-outline-primary text-uppercase" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>