<div class="d-flex align-items-center justify-content-center mt-5 mb-5">
  <div class="container text-center mt-5 mb-5">
    <div class="row mt-5 mb-5">
      <div class="col-12 col-md-6 ml-md-auto mr-md-auto">
        <div class="card">
          <div class="card-body pt-5 pb-5 px-5">
            <i class="display-3 fa fa-rocket text-gray-900"></i>
            <h3 class="mt-4"><%= t("about.title") %></h3>
            <p><%= t("about.description", app_name: app_name) %> <%= link_to "JustDo", company_path("justdo") %>.</p>
            <small><%= t("about.need") %> <%= mail_to "sebastien@companydata.co", t("about.email_us") %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>