<section class="bg-dark p-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-white">
        <h1><%= t("getting_started.title") %></h1>
      </div>
    </div>
  </div>
</section>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2">
    </div>
    <div class="col-12 col-md-10">
      <% if user_signed_in? %>
        <p><%= t("getting_started.step_1.signed_in") %></p>
        <ul>
          <li>
            <strong><%= t("getting_started.email") %></strong>
            <%= current_user.email %>
          </li>
          <li>
            <strong><%= t("getting_started.api_key") %></strong>
            <%= current_user.api_key %>
          </li>
        </ul>
        <p><%= t("getting_started.step_2") %></p>
        
        <pre>
          curl -u <%= current_user.email %>:<%= current_user.api_key %> \
          https://www.companydata.co/api/v1/companies?q=librairie%20mollat
        </pre>
      <% else %>
        <h2><%= t("getting_started.subtitle") %></h2>
        <ol>
          <li>
            <%= t("getting_started.step_1.not_signed_in") %>
            <%= link_to t("navigation.sign_up"), new_user_registration_path %>
          </li>
          <li>
            <%= t("getting_started.step_2") %>
          </li>
        </ol>

        <pre>
          curl -u email@domain.com:api_key \
          https://www.companydata.co/api/v1/companies?q=librairie%20mollat
        </pre>
        <small><%= t("getting_started.replace") %></small>
      <% end %>
      <p><%= t("getting_started.done") %></p>
      <p>
        <%= t("getting_started.go_docs") %>&nbsp;<%= link_to t("getting_started.docs"), docs_url, target: "_blank" %>.
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">
  mixpanel.track("Visit getting started");
</script>
