<div class="card card-tabbed  ">
  <div class="card-header">
    <h6><%= t("companies.api_connection.title") %></h6>
  </div>
  <div class="card-body">
    <div class="media small">
      <%= image_tag image_path("sebastien.jpg"), class: "d-flex mr-3 rounded-circle" %>
      <div class="media-body">
        <div class="media-header d-flex align-items-center">
          <h5 class="m-0 mr-auto"><%= t("companies.api_connection.subtitle") %></h5>
          <div class="badge badge-warning"><%= t("companies.api_connection.important") %></div>
        </div>
        <%= t("companies.api_connection.description") %><br>
        <small><%= mail_to contact_email, "Sebastien" %></small>
      </div>
    </div>
    <div class="actions pull-right mt-3 mb-3">
      <%= link_to t("companies.api_connection.register"), new_user_registration_path, class: "btn btn-success btn-sm" %>
      <%= link_to t("companies.api_connection.get_started"), page_path("getting_started"), class: "btn btn-sm", id: "nav-getting-started" %>
    </div>    
  </div>
</div>