<div class="card card-tabbed  ">
  <div class="card-header">
    <h6><%= t("companies.api_connection.title") %></h6>
  </div>
  <div class="card-body">
    <div class="media small">
      <img class="d-flex mr-3 rounded-circle" src="http://fillmurray.com/48/48" alt="Generic placeholder image">
      <div class="media-body">
        <div class="media-header d-flex align-items-center">
          <h5 class="m-0 mr-auto"><%= t("companies.api_connection.subtitle") %></h5>
          <div class="badge badge-warning"><%= t("companies.api_connection.important") %></div>
        </div>
        <%= t("companies.api_connection.description") %>
      </div>
    </div>
    <div class="actions pull-right mt-3 mb-3">
      <a href="000_app_cards.html#" class="btn btn-success btn-sm"><%= t("companies.api_connection.register") %></a>
      <a href="000_app_cards.html#" class="btn btn-sm"><%= t("companies.api_connection.get_started") %></a>
    </div>    
  </div>
</div>