<div class="m-1 card card-tabbed">
  <div class="card-header">
    <h6><%= t("companies.financial_years.title") %></h6>
  </div>
  <div class="card-body">
    <table class="table table-sm font-size-small">
      <thead>
        <tr>
          <th><%= t("companies.financial_years.year") %></th>
          <th><%= t("companies.financial_years.revenue") %></th>
          <th><%= t("companies.financial_years.income") %></th>
          <th><%= t("companies.financial_years.staff") %></th>
          <th><%= t("companies.financial_years.duration") %></th>
          <th><%= t("companies.financial_years.closing_date") %></th>
        </tr>
      </thead>
      <% @company.financial_years.each do |financial_year| %>
        <%= render "financial_year", financial_year: financial_year %>
      <% end %>
    </table>
  </div>
</div>