<tr>
  <td>
    <%= financial_year.year %>
  </td>
  <td>
    <% if financial_year.revenue.present? %>
      <%= number_to_currency financial_year.revenue, unit: financial_year.currency, precision: 0 %>
    <% else %>
      -  
    <% end %>
  </td>
  <td>
    <% if financial_year.income.present? %>
      <%= number_to_currency financial_year.income, unit: financial_year.currency, precision: 0 %>
    <% else %>
      -      
    <% end %>
  </td>
  <td>
    <% if financial_year.staff.present? %>
      <%= financial_year.staff %> <%= t("companies.financial_year.employees") %>
    <% else %>
      -
    <% end %>
  </td>
  <td>
    <% if financial_year.duration.present? %>
      <%= t("companies.financial_year.duration", months: financial_year.duration) %>
    <% else %>
      -
    <% end %>
  </td>
  <td>
    <% if financial_year.closing_date.present? %>
      <%= I18n.l(financial_year.closing_date) %>
    <% else %>
      -
    <% end %>
  </td>
</tr>