<div class="m-1 card card-image card-image-avatar card-full-height">
  <div class="cover-content">
    <div class="card-header">
      <% if @company.logo_url.present? %>
      <%= image_tag @company.logo_url, class: "img-thumbnail shadow", alt: @company.name, width: "128", height: "128" %>
      <% end %>
      <h4 class="card-title text-primary mt-4 my-2"><%= @company.smooth_name %></h4>
      <h6 class="text-center text-muted"><%= founded(@company) %></h6>
    </div>

    <div class="card-body">
      <% if @company.linkedin.present? %>
        <%= link_to fa_icon("linkedin-square"), @company.linkedin, "data-toggle": "tooltip", "data-original-title": t("companies.resume.linkedin"), target: "_blank" %>          
      <% end %>
      <% if @company.facebook.present? %>
        <%= link_to fa_icon("facebook-square"), @company.facebook, "data-toggle": "tooltip", "data-original-title": t("companies.resume.facebook"), target: "_blank" %>
      <% end %>
      <% if @company.twitter.present? %>
        <%= link_to fa_icon("twitter-square"), @company.twitter, "data-toggle": "tooltip", "data-original-title": t("companies.resume.twitter"), target: "_blank" %>
      <% end %>
      <% if @company.crunchbase.present? %>
        <%= link_to fa_icon("external-link-square"), @company.crunchbase, "data-toggle": "tooltip", "data-original-title": t("companies.resume.crunchbase"), target: "_blank" %>
      <% end %>
      <% if @company.website.present? %>
        <%= link_to fa_icon("link"), @company.website, "data-toggle": "tooltip", "data-original-title": t("companies.resume.website"), target: "_blank" %>    
      <% end %>
    </div>
  </div>
</div>  