<% @title = "Results" %>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 col-md-7 text-white mt-5 pt-5 pb-5">
      <%= simple_form_for "", url: search_companies_path, as: 'search_inline', wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
        <%= f.input :q %>
        <%= f.submit "Search", class: "btn btn-primary ml-auto mt-2" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="card card-sheet sheet-condensed">
        <table class="table table-striped table-hover table-sm-responsive">
          <thead>
            <tr>
              <th>Company</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @companies.each do |company| %>
              <tr>
                <td><%= link_to company.name, company %></td>
                <td><small><%= company.city %></small></td>                
                <td><small><%= company.country %></small></td>
                <td class="actions text-right">
                  <div class="btn-group">
                    <%= link_to theme_icon_tag("eye"), company, 'data-toggle': 'tooltip', title: 'Company details', class: "btn btn-link" %>
                  </div>
                </td>
              </tr>
            <% end %>
            <% if @companies.empty? %>
              <tr>
                <td colspan=42 class='text-center'>Oops, no companies.</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
