<% @title = @company.name %>

<div class="container">
  <div class="row mt-2 mb-2">
    <div class="col-md-6">
      <div class="row">
        <%= render "resume" %>
      </div>
      <div class="row">
        <%= render "profile" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <%= render "presentation" %>
      </div>
      <% if @company.headquarter || @company.branches.any? %>
        <div class="row">
          <%= render  "settlements" %>
        </div>
      <% end %>
      <div class="row">
        <%= render "localization" %>
      </div>
    </div>
  </div>
</div>