<% @title = @company.name %>

<div class="container">
  <div class="row mt-2 mb-2">
    <div class="col-md-6">
      <div class="row">
        <%= render "resume" %>
      </div>
      <% if @company.presentation.present? %>
        <div class="row">
          <%= render "presentation" %>
        </div>
      <% end %>
      <div class="row">
        <%= render "localization" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <%= render "profile" %>
      </div>
      <% if @company.headquarter.present? || @company.branches.any? %>
        <div class="row">
          <%= render "settlements" %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @company.financial_years.any? %>
    <div class="row mt-2 mb-2">
      <div class="col-md-12">
        <div class="row">
          <%= render "financial_years" %>
        </div>
      </div>
    </div>
  <% end %>

  <% unless user_signed_in? %>
    <div class="row mt-2 mb-2">
      <div class="col-md-12">
        <div class="row">
          <%= render "api_connection" %>  
        </div>
      </div>
    </div>
  <% end %>
</div>