<%= email_message_section do %>
  <%= email_message_spacer 2 %>
  <%= email_message_body_text do %>
    Bonjour <%= @resource.email %> ! Voici le lien pour renouveler votre mot de passe.
  <% end %>

  <%= email_message_button do %>
    <%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token),  style: 'color: #fff;' %></span>
  <% end %>

  <%= email_message_spacer 2 %>

  <%= email_message_small_text do %>
    Si vous n'avez pas effecté cette demande, merci d'ignorer cet email. Votre mot de passe ne changera pas tant que vous n'en créerez pas un nouveau avec le lien ci-dessus.
  <% end %>

  <%= email_message_spacer 2 %>
<% end %>